# global
*-stamp
*.Po
*.a
*.bak
*.gcda
*.gcno
*.o
*.pyc
*.pyo
*.so
*~
.deps
.nfs*
Makefile
Makefile.in
core
stamp-*

# /
/*.bfproject
/aclocal.m4
/autom4te.cache
/confdefs.h
/config.cache
/config.h
/config.h.in
/config.log
/config.status
/configure
/configure.lineno
/confinc.out
/conftest*
/flawfinder.html
/nss-pam-ldapd-*
/pscan.txt
/rats.html
/splint.txt

# /man/
/man/chsh.ldap.1
/man/chsh.ldap.1.html
/man/getent.ldap.1
/man/getent.ldap.1.html
/man/nslcd.8
/man/nslcd.8.html
/man/nslcd.conf.5
/man/nslcd.conf.5.html
/man/pam_ldap.8
/man/pam_ldap.8.html
/man/pynslcd.8
/man/pynslcd.8.html

# /nslcd/
/nslcd/nslcd

# /nss/
/nss/exports.map

# /pynslcd/
/pynslcd/constants.py

# /tests/
/tests/flake8-venv
/tests/lookup_groupbyuser
/tests/lookup_netgroup
/tests/lookup_shadow
/tests/temp.cfg
/tests/test*.log
/tests/test*.trs
/tests/test_attmap
/tests/test_cfg
/tests/test_clock
/tests/test_common
/tests/test_dict
/tests/test_expr
/tests/test_getpeercred
/tests/test_myldap
/tests/test_pamcmds.log
/tests/test_set
/tests/test_tio
/tests/test_tio_timeout

# /utils/
/utils/constants.py

# /po/
/po/*.gmo
