Source: nss-ldapd
Section: net
Priority: extra
Maintainer: Arthur de Jong <adejong@debian.org>
Standards-Version: 3.7.2
Build-Depends: debhelper (>= 4.1.13), libkrb5-dev, libldap2-dev, libsasl2-dev, po-debconf (>= 0.5.0), docbook2x, docbook-xml
Homepage: http://ch.tudelft.nl/~arthur/nss-ldapd
XS-Vcs-Svn: http://arthurenhella.demon.nl/svn/nss-ldapd
XS-Vcs-Browser: http://arthurenhella.demon.nl/viewcvs/nss-ldapd

Package: libnss-ldapd
Architecture: any
Depends: ${shlibs:Depends}, debconf | debconf-2.0
Recommends: nscd, libpam-ldap
Conflicts: libnss-ldap
Provides: libnss-ldap
Description: NSS module for using LDAP as a naming service
 This package provides a Name Service Switch that allows your LDAP server
 act as a name service. This means providing user account information,
 group id's, host information, aliases, netgroups, and basically anything
 else that you would normally get from /etc flat files or NIS.
 .
 If used with glibc's nscd (Name Service Cache Daemon) it will help
 reduce your network traffic and speed up lookups for entries.
 .
 This is a fork from the original libnss-ldap package and fixes,
 amongst other things, problems related to hostname lookups and name
 lookups during booting.
