#!/bin/sh

set -e

# source debconf library.
. /usr/share/debconf/confmodule
db_version 2.0

#
# This is the fist part of the script. In this part an attempt
# is made to get or guess the current configuration. This information
# is used later on to prompt the user and to provide a sensible
# default.
#

# parse /etc/nsswitch.conf and see which services have ldap specified
db_get libnss-ldapd/nsswitch
if [ -z "$RET" ]
then
  # find name services that currently use LDAP
  configured=`sed -n 's/^\([a-z]*\):.*[[:space:]]ldap\([[:space:]].*\)\?/\1/p' /etc/nsswitch.conf`
  # separate by commas
  configured=`echo $configured | sed 's/ /, /g'`
  # store configured services
  db_set libnss-ldapd/nsswitch "$configured"
fi

#
# This is the second part of the script. In this part the configurable
# settings will be presented to the user for approval. The postinst
# will finaly perform the actual modifications.
#

# ask for which nsswitch options to configure
db_capb multiselect
db_input high libnss-ldapd/nsswitch || true
db_go || true

exit 0
