#!/usr/bin/make -f

export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- \
	            --libdir=/lib \
	            --enable-warnings \
	            --with-ldap-lib=openldap \
	            --with-ldap-conf-file=/etc/nslcd.conf \
	            --with-nslcd-pidfile=/var/run/nslcd/nslcd.pid \
	            --with-nslcd-socket=/var/run/nslcd/socket

override_dh_makeshlibs:
	# do not generate shlibs (shared NSS library not meant to be linked)
